<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <ul class="my_nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/event">Events</a></li>
                <li><a href="/club">Clubs</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </nav>
    </header>

</body>

<style>
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        background-color: white;
    }

    li, a{
        font-size: 16px;
        text-decoration: none;
        color: #040e11;
        font-weight: 500;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }

    .my_nav{
        list-style: none;
        position: relative;
    }

    .my_nav li{
        display: inline-block;
        padding: 0px 10px;
    }

</style>

</html>